extends ./layouts/default
block title
    title Koa 豆瓣首页
block content
    .container
        .row
            .col-md-8
                h1 Hi #{you}
                p This is #{me}
            .col-md-4
                p 测试模板引擎中间件